<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body bgcolor="#E6E6FA">
        <!--Navigation bar-->
        <div id="nav-placeholder">
            </div>
            <script>
                $(function () {
                    $("#nav-placeholder").load("meniu.html");
                });
            </script>
            <!--end of Navigation bar-->
            <text4>   Currency converter  </text4>
            <pad5>
                <text5> Current Currency </text5>
                <select>

                    <option value="eurai">EUR</option>
                    <option value="svarai">GBP</option>
                    <option value="doleriai">USD</option>
                    <option value="jenos">JPY</option>
    
                </select>
                <margin><input type="text" name="currencurrency"></margin>
                <br>
                <br><br><br>
                <text5> Choose Currency </text5>
                <select>

                    <option value="eurai">EUR</option>
                    <option value="svarai">GBP</option>
                    <option value="doleriai">USD</option>
                    <option value="jenos">JPY</option>
    
                </select>
                <margin><input type="text" name="chosencurrency"></margin>
                <br>
                <br><br><br>
                <input type="submit" value="Submit">
            </pad5>
</body>

</html>