
div[id=piechart] {
    position: absolute;
    top: 80px;
    right: 80px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
    background-color: #E6E6FA;
}

pad {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 300px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}

pad2 {
    position: absolute;
    top: 350px;
    left: 80px;
    width: 300px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
pad3 {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 500px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
pad4 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 300px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
text1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
text2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
text3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    font-weight: bold;
    top: 80px;
    right: 300px;
}

select {
    position: absolute;
    right: 0 px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 4px;
}

input[type=text] {
    border-radius: 4px;
}
 rightalign
 {
    position: absolute;
   right: 150px;
 }
input[type=submit] {
    font-size: 20px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #819FF7
}
