<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body bgcolor="#E6E6FA">
        <!--Navigation bar-->
        <div id="nav-placeholder">
            </div>
            <script>
                $(function () {
                    $("#nav-placeholder").load("meniu.html");
                });
            </script>
            <!--end of Navigation bar-->
</body>

</html>