<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>Budget</title>
</head>

<body bgcolor="#E6E6FA">
    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load("meniu.html");
        });
    </script>
    <!--end of Navigation bar-->
    <pad4>
        <form action="/action_page.php">
            <text1> Income: </text1>
            <br>
            <input type="text" name="income">
            <input type="submit" value="Submit">
            <br>
            <text1> Total: </text1>
            <br>
            <input type="text" name="Totalincome">
        </form>
    </pad4>
    <text3> Create a Budget </text3>
    <pad3>
      <text2>
        Food & Groceries:
        <rightalign> <input type="text" name="income"></rightalign>
        <br><br> Emergency Fund:
        <rightalign><input type="text" name="income"></rightalign>
        <br><br> Housing:
        <rightalign><input type="text" name="income"></rightalign>
        <br> <br>Utilities:
        <rightalign><input type="text" name="income"></rightalign>
        <br><br> Personal Care:
        <rightalign><input type="text" name="income"></rightalign>
        <br><br> Entertainment:
        <rightalign><input type="text" name="income"></rightalign>
        <br><br> Transport:
        <rightalign><input type="text" name="income"></rightalign>
        <br> <br>Health Care:
        <rightalign><input type="text" name="income"></rightalign>
        <br> <br>Pets:
        <rightalign> <input type="text" name="income"></rightalign>
        <br><br> Other:
        <rightalign> <input type="text" name="income"></rightalign>
        <br><br>
        <input type="submit" value="Submit">
    </text2>
    </pad3>
</body>

</html>