<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Expenses</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body bgcolor="#E6E6FA">
    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load("meniu.html");
        });
    </script>
    <!--end of Navigation bar-->

    <!--Text box to write in-->
    <pad>
        <form action="/action_page.php">
            <br>
            <text1> Your spent money: </text1>
            <br>
            <input type="text" name="expenses">
            <br>


            <!--DropDown list of categories-->

            <br>
            <select>

                <option value="foodandfroceries">Food & Groceries</option>
                <option value="emergencyfund">Emergency Fund</option>
                <option value="housing">Housing</option>
                <option value="utilities">Utilities</option>
                <option value="personalcare">Personal Care</option>
                <option value="entertainment">Entertainment</option>
                <option value="transport">Transport</option>
                <option value="healthcare">Health Care</option>
                <option value="pets">Pets</option>
                <option value="other">Other</option>

            </select>
            <br>
            <br>
            <br>
            <br>


            <input type="submit" value="Submit">
            <!--If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".-->
            <!--end of DropDown list of categories-->

        </form>
    </pad>


    <pad2>
        <text1>  Summary: </text1>
        <br>
        <br> Income:
        <input type="text" value="150" id="income">
        <br>
        <br> Expenses:
        <input type="text" value="100" id="expenses">
        <br>
        <br> Total:
        <input type="text" value="50" id="total">
        
    </pad2>
    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Category', 'Percentage'],
                ['Food & Groceries', 13],
                ['Emergency Fund', 0],
                ['Housing', 15.5],
                ['Personal Care', 10.5],
                ['Entertainment', 7],
                ['Transport', 0],
                ['Health Care', 0],
                ['Pets', 8],
                ['other', 46]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {
                titleTextStyle: {
                    color: 'black',
                    fontName: 'Arial',
                    fontSize: 20
                }, 'title': 'This month you spent', backgroundColor: 'E6E6FA', 'width': 550, 'height': 400
            };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

</body>

</html>