

.categories {
    position: relative;
    left: -120px;
    color: black;
    font-size: 16px;
}

.income {
    position: relative;
    left: -300px;
    font-size: 16px;
    color: black;
}

input[type="text"] {
    width:100px;
    height:30px;
    border-radius:5px;
    background-color: lightblue;
    margin-left:2px;
    position: absolute;
    right: -100px;
}

input[type="text1"] {
    width:150px;
    height:30px;
    border-radius:5px;
    background-color: lightblue;
    margin-left:2px;
}

div[id=piechart] {
    position: absolute;
    top: 80px;
    right: 80px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
    background-color: #E6E6FA;
}

pad {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 300px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}

pad2 {
    position: absolute;
    top: 350px;
    left: 80px;
    width: 300px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
pad3 {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 500px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
pad4 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 300px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
pad5 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 900px;
    border: 3px dashed;
    padding: 25px;
    border-radius: 8px;
}
text1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
text2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
text3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    font-weight: bold;
    top: 80px;
    right: 300px;
}
text4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    font-weight: bold;
    top: 80px;
    left: 80px;
}
text5 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 30px
}
margin
{
    margin: 30px;
    margin-left: 100px;
}
select {
    position: absolute;
    right: 0 px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 4px;
}

input[type=text] {
    border-radius: 4px;
}
 rightalign
 {
    position: absolute;
   right: 150px;
 }
input[type=submit] {
    font-size: 20px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #819FF7
}
table, th, td {
    border: 1px solid black;
}
th{
    text-align: left;
}
